html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-weight: normal;
}

p {
    font-weight: normal;
}

.nav-link  {
    color: black;
    font-weight: 400;
}

.hero-section {
    background: #F1F3FF;
}

.scrolled{
    background: #FFFFFF;
    transition: 550ms;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

.btn {
    background: #5CB85F;
    color: #F1F3FF;
    font-weight: 600;
}

.header {
    padding-top: 100px;
}

.header-title {
    padding-left: 70px; 
    padding-top: 70px;
}

.header-text {
    margin-left: 70px;
}

.button-header {
    margin-left: 69px;
}

.car-rental-cewek {
    display: flex;
    justify-content: center;
}

.card.card-why-us {
    border: 1px solid #D0D0D0;
    border-radius: 3%;
}

.card-text {
    width: 100%;
    height: 60px;
    left: 136px;
    top: 301px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    color: #000000;
}

.fixed-top {
    padding: 10px;
    right: 0;
    z-index: 1030;
  }

.card-img-top {
    position: static;
    width: 32px;
    height: 32px;
    left: 24px;
    top: 24px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.jumbotron > .container > .container {
    width: 468px;
}

.accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
    background: transparent;
  }

.small-accordion {
    width: 668px;
    height: 56px;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
}

.small-accordion small img {
    margin-right: 20px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
  }

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: #0D28A6;
    border-radius: 50%;
}

.fa-solid.fa-star {
    color: #F9CC00;
}

.me-4 {
    color: white;
}

.logo a {
    color: #FFFFFF;
}

#navbar-mobile {
    display: none;
}

#mobil {
    margin-left: 2%;
}

#car-rental {
    display: flex;
    flex-flow: row;
    margin-top: 10%;
}

#sewa-mobil {
    /* width: 460px; */
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
}

#jumbotron-biru {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    top: 2em;
    color: #FFFFFF;

    /* Primary/DarkBlue/04 */
    background: #0D28A6;
    border-radius: 13px;
    text-align: center;
}

#jumbotron-biru ~ .jumbotron {
    justify-content: space-between;
    display: flex;
    flex-flow: column;
}

#jumbotron-biru h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}

#jumbotron-biru p {
    left: 478px;
    top: 2212px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 991px) {
    
    #navbar-desktop {
        display: none;
    }

    #navbar-mobile {
        display: flex;
    }

    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
    }

    .navbar-nav {
        background-color: white;
        height: 100vh;
        width: 50%;
        padding: 1.5em;
        left: 100%;
        position: absolute;
        transition: left .35s ease;
    }


    .navbar-collapse.collapsing {
        transition: background-color .35s ease;
    }

    .navbar-collapse.show .navbar-nav {
        transition: left .55s ease;
        left: 50%;
    }

    .ul-nav-mobile > li > span {
        font-size: large;
        padding-right: 70%;
    }

    #car-rental {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .car-rental-cewek {
        position: relative;
        max-width: 85%;
        margin: 2em;
    }

    .why-us-header {
        display: flex;
        flex-flow: column nowrap;
    }

    .container > #why-us {
        text-align: center;
    }

    .container > #why-us ~ p {
        text-align: center;
    }

    #jumbotron-biru {
        width: 90%;
    }
    
    .container .col-6 {
        max-width: fit-content;
    }

    .faq-header > * {
        text-align: center;
    }

    .faq-header > h2 {
        font-weight: bold;
    }
}



@media screen and (max-width: 480px) {

    .header {
        padding-top: 20px;
    }

    .header-title {
        padding-top: 70px;
        padding-right: 35px;
        padding-left: 0;
        margin-bottom: 1em;
    }

    .header-title > strong {
        font-size: xxx-large;
        font-weight: normal;
    }
    
    .header-text {
        margin-left: 0;
    }
    
    .button-header {
        margin-left: 0;
        margin-bottom: 1em;
    }

    .ul-nav-mobile > li > span {
        font-size: large;
        padding-right: 5em;
    }

    .header-car-img {
        padding-right: 0 !important;
    }

    .row.row-cols.row-cols-md-4 {
        display: flex;
        flex-direction: column;
    }
    
    .row.logo > * {
        padding: 0;
    }

    .faq-title {
        font-size: 10pt;
        font-weight: 700;
        width: 90%;
    }

    footer {
        font-size: 10pt;
        width: 61%;
    }

    .text-left > p > a {
        font-weight: bold;
    }

    .logo {
        position: relative;
        width: 80%;
        margin-left: -1%;
    }
}