.swiper {
	width: 100%;
	overflow: visible;
}
  
  .testimonial-item {
	padding: 69px 32px 69px 46px;
	background: #f1f3ff;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .testimonial-item .star {
	margin-bottom: 16px;
  }
  
  .testimonial-item .profile {
	width: 80px;
	height: 80px;
	border-radius: 100%;
  }
  
  .testimonial-item .testimonial-content {
	padding-left: 46px;
  }
  
  .swiper-button {
	width: 32px;
	height: 32px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	border: 1px solid #c4c4c4;
	transition: ease 0.5s;
	-webkit-transition: ease 0.5;
  }
  
  .swiper-button:hover {
	background-color: #5cb85f;
  }
  
  .swiper-button svg {
	height: 13px;
  }
  
  .swiper-button:hover svg > path {
	stroke: #ffffff;
  }
  
  .swiper-button-wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 88px;
	width: 100%;
	margin: 24px auto 0;
  }

  @media screen and (max-width: 991px) {

	#testimonial {
		margin: 1em;
	}

	.testimonial-item {
		display: inline-block;
		text-align: center;
		padding: 50px 24px 50px 24px;
	  }
	
	  .testimonial-item .testimonial-content {
		padding-left: 0px;
	  }
	  
  }